.player{
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url(../../img/tanks.png);
    background-repeat:no-repeat;
}

.player.left{
    background-position: -148px -225px;
}

.player.top{
    background-position: -105px -225px;
}

.player.right{
    background-position: -6px -225px;
}

.player.bottom{
    background-position: -56px -225px;
}

.x3-size-sprite{
    background-size: 600px 430px;
    //210  x  146
}

.bulletPlayer{
    position: absolute;
    width: 5px;
    height: 5px;
    background: greenyellow;
    border-radius: 10px;
}
